@using Bakery.Models;
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Pierre's Bakery</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="~/css/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      <h1>Create New Order for @Model.Name</h1>
      <form action="/vendors/@Model.ID" method="post">
        <input id="vendorID" name="vendorID" type="hidden" value="@Model.ID">
        <p><label for="title">Order Title:</label>
        <input id="title" name="title" type="text" class="form-inline"></p>
        <p><label for="description">Description:</label>
        <input id="description" name="description" type="text" class="form-inline"></p>
        <p><label for="price">Price:</label>
        <input id="price" name="price" type="number" class="form-inline"></p>
        <p><label for="date">Date:</label>
        <input id="date" name="date" type="string" class="form-inline"></p>
        <p><button type="submit" class="btn btn-warning">Add Order</button></p>
      </form>
      <p><a href="/vendors/@Model.ID"><button class="btn btn-warning">Back To Vendor</button></a></p>
    </div>
  </body>
</html>